<div class="AboutMeContant" id="about">
    <section class="pagename">
      <!-- name of the page so user know where he is with button tag to make page more attractive/*-->
      <button class="new but2"><h1>About Me</h1> </button>
    </section>

    <main class="sidepic">
      <!-- when the user hovers over the image its will zoom /*-->
      <div class="zoom"> <img src="https://dev17b.github.io/Assignment-1by-Dev-P/Aboutme.jpg" alt="aboutmepic" /></div>
      <!-- information about me  /*-->
      <h3>Hello everyone, As you know my name is Dev Patel. I am a second-year, undergraduate student, studying for networking and IT security courses at Ontario tech university. So far my experience with university and my courses is fantastic, existing, scary, and all other worlds that explain a student's feelings. I am not a very active person, kind a like little bit lazy person. </h3>
      <h3>following up that my hobbies change as my age and weather change. For summer, I like to do biking, football and wallyball, night walking and some gaming. For winter, I prefer to do gaming. Usually, my university courses keep me busy with homework, project, assignments, and reading - preparation for classes, but I save time for family and friends because they are very important. Talking about my family I have four member family including myself, my parents, and one older sibling. My favorite movie genres are Action and Adventure, Comedy, Horror, Mystery and Science Fiction and many more genres. Talking about my favorite places, I have visited more than three countries which include multiple places in India, NewYork, USA and Dubai in UAE. I have a lot of their places to visit too in nearby future. I belong to an Indian family and I have grown up in Canadian culture, therefore have tried a lot of different types of dishes.  </h3>

    </main>

    <section class="missme">
      <!-- just for more content /*-->
      <h1> Want to see my video introduction....</h1>
    </section>


    <main class="videos">
      <!-- video file and other function as shown during lecture /*-->                                        
    <iframe 
      width="100%" 
      height="900px" 
      src="https://www.youtube.com/embed/2LuZ7tI6Yuo" 
      title="YouTube video player" 
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen>
    </iframe>

    </main>

  </div>