<div class="ContactMeContant" id="contact">
    <section class="Information">
      <!-- its for user to know what they can do with contact me form/*-->
      <h2>Here you can find the contact me form, you can send me your comments about my webpage like your experience with it, whether does page is responsive or not, where do in need to improve my webpage for a smoother interface and experience, and much more...</h2>
    </section>
  
    <form action="mailto:dev.patel7@ontariotechu.net" method="post" enctype="text/plain" name="form">
      <!-- the name of the form and my email to receive the feedback from user/*-->
      <h2>Contact me form</h2>
      <p>
        <label for="your-name">Your Name</label><br />
        <!-- username and it's a required information/*-->
        <input type="text" placeholder="Enter your name" name="your-name" required/>
      </p>
      <p>
        <label for="your-email">Your Email</label><br />
        <!-- useremail and it's a required information/*-->
        <input type="email" placeholder="Enter your email" name="y-email" required />
      </p>
      <p>
        <label for="your-Phone">Your Phone number</label><br />
        <!-- user phone number  and it's not required information/*-->
        <input type="Phone-No" placeholder="Enter your Phone number" name="y-phone"  />
      </p>
      <p>
        <label for="Comments">Comments</label><br />
        <!-- user comment and it's a required information/*-->
        <input type="text" placeholder="Enter your Comments here" name="Comments" />
      </p>
      <button class="submit btn">Submit your data </button>
      <!-- Thank you message for user /*-->
      <h5>Thank you so much for your feedback, have a wonderful day ahead</h5>

    </form>

    <div class="container-top">
      <div class="sidetwo2">
        <a href="#" class="sidetwo2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQESIFyuJmv3ci7ZK4lSQYwQ3J3yYYdV7VtzQ&usqp=CAU" alt="backtotop" style="width:42px;height:42px;"></a> </br>
        <a href="#" class="sidetwo2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQESIFyuJmv3ci7ZK4lSQYwQ3J3yYYdV7VtzQ&usqp=CAU" alt="backtotop" style="width:42px;height:42px;"></a> </br>
        <a href="#" class="sidetwo2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQESIFyuJmv3ci7ZK4lSQYwQ3J3yYYdV7VtzQ&usqp=CAU" alt="backtotop" style="width:42px;height:42px;"></a>
      </div>

      <div class="sideone1">
        <a href="#" class="sideone1"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQESIFyuJmv3ci7ZK4lSQYwQ3J3yYYdV7VtzQ&usqp=CAU" alt="backtotop" style="width:42px;height:42px;"></a> </br>
        <a href="#" class="sideone1"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQESIFyuJmv3ci7ZK4lSQYwQ3J3yYYdV7VtzQ&usqp=CAU" alt="backtotop" style="width:42px;height:42px;"></a> </br>
        <a href="#" class="sideone1"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQESIFyuJmv3ci7ZK4lSQYwQ3J3yYYdV7VtzQ&usqp=CAU" alt="backtotop" style="width:42px;height:42px;"></a>
      </div>

    </div>
  

  </div>

  <nav class="footer">
    <h3>Let me know how much do you like my first ever website</h3>
    <!-- copyright line as required in document /*-->
    <h5>@ 2022 by Dev Patel (100828640) All rights are reserved </h5> 
    <!-- added some lines here for more content /*-->
    <h3>Ontario Tech University</h3>
    <!-- linkedin image with the link of my profile so users can contact me via Facebook, and it's for more credit /*-->
    <a href="https://www.linkedin.com/in/dev-patel-264359213?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BsOr4evt1TSOEHx36%2B05Xhg%3D%3D"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/LinkedIn_icon_circle.svg/2048px-LinkedIn_icon_circle.svg.png" alt="Linkedin" style="width:42px;height:42px;"></a> 
    <!-- Facebook image with the link of my profile so users can contact me via Facebook, and it's for more credit /*-->
    <a href="https://www.facebook.com/people/Dev-Patel/100035432886921/"><img src="https://1000logos.net/wp-content/uploads/2021/04/Facebook-logo.png" alt="facebook" style="width:42px;height:42px;"></a>
    <!-- Instagram image with the link of my profile so users can contact me via Instagram , and it's for more credit /*-->
    <a href="https://www.instagram.com/devpatel889/"><img src="https://seeklogo.com/images/I/instagram-logo-041EABACE1-seeklogo.com.png" alt="Instagram"  style="width:45px;height:42px;"></a>
    <!-- twitter image with the link of my profile so users can contact me via twitter , and it's for more credit /*-->
    <a href="https://twitter.com/Dev71104315"><img src="https://help.twitter.com/content/dam/help-twitter/brand/logo.png" alt="Twitter" style="width:42px;height:42px;"></a>  <br>
  </nav>

</div>