<div class="homepagecontant" id="home">
  
    <section class="welcome">
      <!-- name of the page so user know where he is with button tag to make page more attractive/*-->
      <button class="new1 but1"><h1>Welcome to Home page</h1> </button>
    </section>

    <section class="Assignment">
      <!-- name of the assignment and a student name and id number/*-->
      <h1>Assignment:2 by Dev Patel (100828640)</h1>
    </section>

    <section class="firstqoute">
      <!-- for more content on page for user/*-->
      <h1>“Always code as if the person who ends up maintaining your code will be a violent psychopath who knows where you live.”</h1>
     
    </section>

    <section class="thanks">
      <!-- the professor name and TA name for thanking them/*-->
      <h1>
          <span class="multicolor">Special thanks to:</span>
      </h1>
      <h4>Ontario tech university's</h4>
      <h1>Professor: Mr.Ahmed Sheikh</h1>
      <h1>TA: Ms.Tanzina Akter</h1>

    </section>

    <main class="banner-ph1">
      <!-- The title of the content and some information about it with read more button so user can go on that page /*-->
      <h1>Projects</h1>

      <h2>- Here you can find information about the project I completed during my first university year.</h2>
      <h2>- The information includes the Course name, project name, professor name, and what the project was about.</h2>

    </main>

    <main class="banner-Po2">
      <!-- The title of the content and some information about it with read more button so user can go on that page /*-->
      <h1>About Me</h1>

      <h1>- Here you can find a little bit of information about myself including my hobbies, favorite places, and food. </h1>
      <h1>- I have provided an introduction about myself which includes information about my university life, and how I feel about it</h1>
      <h1>- I have also  provided my favorite genres for my entertainment. And at the I have mentioned a little bit about my family too. </h1>

    </main>

    <main class="banner-Po3" >
      <!-- The title of the content and some information about it with read more button so user can go on that page /*-->
      <h1>Contact Me</h1>

      <h1>- Here you can access the Contact Form. You can send me your comments about my website.</h1>
      <h1>- You can also add your suggestions about ups and downs, how you feel about this website's colors, user interaction and much more. </h1>                        

    </main>

    <section class="secondqoute">
      <!-- for more content on page for user with button tag to make page more attractive/*-->
      <button class="new but2"><h1>What I think is...</h1> </button>
      <h2>“Remember that there is no code faster than no code and One man’s crappy software is another man’s full-time job.”</h2>
    </section>
</div>