<!--NavBar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Dev Patel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto"> 

        <li class="nav-item">
        <% if (title == "Home") { %>
          <a class="nav-link active" href="/#home">
        <% } else { %>
          <a class="nav-link" href="/#home">
        <% } %>
          <i class="fa-solid fa-lg fa-house-user"></i> Home</a>
        </li>

        <li class="nav-item">
          <% if (title == "Project") { %>
            <a class="nav-link active" href="/#Project">
          <% } else { %>
            <a class="nav-link" href="/#Project">
          <% } %>
            <i class="fa-solid fa-gears"></i> Project </a>
        </li>

        <li class="nav-item">
        <% if (title == "About") { %>
          <a class="nav-link active" href="/#about">
        <% } else { %>
          <a class="nav-link" href="/#about">
        <% } %>
          <i class="fa-sharp fa-solid fa-circle-info"></i>
           About</a>
        </li>        

        <li class="nav-item">
        <% if (title == "Contact us") { %>
          <a class="nav-link active" href="/#contact">
        <% } else { %>
          <a class="nav-link" href="/#contact">
        <% } %>
          <i class="fa-solid fa-phone"></i> 
          Contact us</a>
        </li>

    </div>
  </div>
</nav>