<div class="Projectcontant"id="Project">
    <section class="pagename">
      <!-- name of the page so user know where he is with button tag to make page more attractive/*-->
      <button class="new3 but3"><h1>Projects</h1> </button>
    </section>

    <section class="intro">
      <!-- its for user to know what they can find on this page/*-->
      <h1>Here you can find the information about the projects I completed during my first year of university. Python Programming language is not that essay spatially when you are a first-year student and all of this new to you. No doubt, the professors and TAs done excellent job explaining me and thank you so much for it.  </h1>
    </section>

    <main class="hangman">
      <!-- the project name, course and professor name, year and semester and the what the project was about information /*-->
      <h2>The hangman project </h2>
      <h2>Intro to Programming, Ahmed Sheikh</h2>
      <h2>Year 1 Semester 1</h2>
      <button class="btn box"> <h3>The objective of Hangman is to guess a secret word letter by letter. If you guess a letter in the word, program show you that letter. But if you guess wrong, program draw part of the hangman's body. Don't let his whole body get drawn, or else you lose!</h3> </button>

    </main>


    <main class="system">
      <!-- the project name, course and professor name, year and semester and the what the project was about information /*-->
      <h2>Project Restaurant Reservation System</h2>
      <h2>Ob Or  Programming, Ahmed Sheikh</h2>
      <h2>Year 1 Semester 2</h2>
      <button class="btn box"><H3>Students are required to Create a Restaurant Reservation System using Python with databases (for storing, updating and displaying the data).</H3></button>
       
    </main>


    <main class="Research">
      <!-- the project name, course and professor name, year and semester and the what the project was about information /*-->
      <h2>Final Research Project</h2>
      <h2>Computer Architecture, Bill Kapralos</h2>
      <h2>Year 1 Semester 2</h2>
      <button class="btn box"><H3>The objective of Hangman is to guess a secret word letter by letter. If you guess a letter in the word, program show you that letter. But if you guess wrong, program draw part of the hangman's body. Don't let his whole body get drawn, or else you lose!</H3></button>
       
    </main>


    <main class="Report">
      <!-- the project name, course and professor name, year and semester and the what the project was about information /*-->
      <h2>Final Research Report - Group 3</h2>
      <h2>Business Communications, Kathleen Pierce</h2>
      <h2>Year 1 Semester 1</h2>
      <button class="btn box"><H3>The project was about making research about hacks and information likes from major companies like Facebook. Group news makes a presentation and a report about why, how, when, and where the hacks happened and how much damage it caused.</H3> </button>
       
    </main>
  </div>